<footer class="footer bg-dark text-light" class="footer-baground">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <!-- First Column Content -->
        <h5>Column 1</h5>
        <p>Content goes here.</p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <!-- Second Column Content -->
        <h5>Column 2</h5>
        <p>Content goes here.</p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <!-- Third Column Content -->
        <h5>Column 3</h5>
        <p>Content goes here.</p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <!-- Fourth Column Content -->
        <h5>Column 4</h5>
        <p>Content goes here.</p>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <!-- Fifth Column Content -->
        <h5>Column 5</h5>
        <p>Content goes here.</p>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <!-- Fifth Column Content -->
        <h5>Column 6</h5>
        <p>Content goes here.</p>
      </div>
    </div>
  </div>
</footer>
